* {
	margin: 0;
	padding: 0;
}
.filt{
	width: 200px;
	height: 100px;
	background-image: linear-gradient(dodgerblue, aqua);
}
#addPhoto{
	position: relative;
	left: 500px;
	background-image: linear-gradient(lightblue, aqua);
	border: none;
	color: white;
	font-family: school;
	padding: 15px 25px;
	text-align: center;
	font-size: 20px;
	border-radius: 7px;
}
header{
	background-image: linear-gradient(aqua, white);
	background-repeat: no-repeat;
}
#filter{
	padding-left: 40px;
	padding-top: 40px;
}
#signB{
	position: absolute;
	right: 20px;
	top: 5px;
	background-image: linear-gradient(lightblue, aqua);
	border: none;
	color: white;
	font-family: school;
	padding: 15px 25px;
	text-align: center;
	font-size: 20px;
	border-radius: 7px;
}
#signB:hover{
	color: black;
}
#User{
	position: relative;
	left: 200px;
}
body{
	background-image: linear-gradient(aqua, white, skyblue);
	background-repeat: no-repeat;
}
h5{
	font-family: comic sans;
	font-size: 20px;
	color: white;
}
.post{
	display: inline;
	margin-left: 150px;
}
#Author{
	position: relative;
	bottom: 120px;
	left: 10px;
}
#Date{
	position: relative;
	right: 20px;
	bottom: 100px;
}
a{
	position: relative;
	right: 400px;
	bottom: 70px;
}
#Like{
	position: relative;
	right: 150px;
	bottom: 20px;
	background-image: linear-gradient(blue, aqua, white);
	color: black;
	text-align: center;
	padding: 10px 15px;
	font-size: 15px;
	font-family: cursive;
	border-radius: 4px;
}
#Like:hover{
	color: white;
}
#load{
	position: relative;
	left: 50px;
	top: : 20px;
	background-image: linear-gradient(lightblue, aqua);
	border: none;
	color: white;
	font-family: school;
	padding: 15px 25px;
	text-align: center;
	font-size: 20px;
	border-radius: 7px;
}
#load:hover{
	color: black;
}
footer{
	background-image: linear-gradient(aqua, white);
	background-repeat: no-repeat;
}
b{
	position: relative;
	top: 20px;
	left: 5px;
	font-size: 20px;
	color: purple;
	text-transform: uppercase;
}
#info{
	display: inline;
	position: absolute;
	right: 15px;
}
